<h2>Issues</h2>

{{#each issue in controller}}
{{#view App.IssueItemView contentBinding='issue'}}
  <div class="title-row">
    <div class="date-col">
      {{#unless issue.updatedAt}}
        {{date dateBinding='issue.createdAt'}}
      {{else}}
        {{date dateBinding='issue.updatedAt'}}
      {{/unless}}
    </div>
    <div class="reporter-col">{{view App.UserLink contentBinding="issue.reporter"}}</div>
    <div class="id-col">{{#linkTo 'issue.index' issue}}{{issue.id}}{{/linkTo}}</div>
    <div class="title-col">{{#linkTo 'issue.index' issue}}{{issue.title}}{{/linkTo}}</div>
  </div>
  <div class="info-row">
    <div class="col">{{view App.PriorityLink contentBinding="issue.priority"}}</div>
    <div class="col">{{view App.CategoryLink contentBinding="issue.category"}}</div>
    <div class="col">{{view App.StatusLink contentBinding="issue.status"}}</div>
    {{#if controller.isAdmin}}
      <div class="col">{{view App.CustomerLink contentBinding="issue.customer"}}</div>
    {{/if}}
    <div class="progress-col">{{progress progressBinding="issue.progress"}}</div>
  </div>
{{/view}}
{{/each}}

{{view IHID.InfinitePagination.LoadMoreView}}